@use "./variables.scss" as v;

.pagePanel {
  display: grid;
  grid-template-rows: auto;

  .contentContainer {
    padding: 15px;
    height: 400px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: v.$mobile-width) {
      display: flex;
      flex-direction: column;

      .pagePanelTitle {
        margin: 25px;
      }
    }

    height: 100%;
    width: 100%;

    .pagePanelTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;

      #title {
        text-align: center;
        font-size: 1.1rem;
        margin: 15px;
      }

      #content {
        width: fit-content;
        margin: auto;

        width: 100%;
        height: 100%;

        label {
          font-size: 0.8rem;
          padding: 15px;
        }

        input[type="text"],
        input[type="number"] {
          border: none;
          outline: none;
          background-color: transparent;
          width: 100%;
          border-bottom: 2px solid v.$secondary;
          color: v.$color;

          margin-bottom: 15px;
          padding: 15px;
        }

        button {
          cursor: pointer;
          border: none;
          outline: none;
          background-color: transparent;

          border: 2px solid v.$secondary;
          border-radius: 8px;
          width: 100%;

          color: v.$color;
          padding: 15px;

          transition: background-color 0.4s ease-in-out;

          &:hover {
            background-color: rgba($color: v.$secondary, $alpha: 0.2);
          }
        }

        select {
          border: none;
          outline: none;
          background-color: transparent;
          width: 100%;
          border-bottom: 2px solid v.$secondary;
          color: v.$color;

          margin-bottom: 15px;
          padding: 15px;

          option {
            border: none;
            outline: none;
            background-color: #000;
          }
        }
      }
    }

    #output {
      max-height: 600px;
      border-radius: 8px;
      padding: 15px;

      #center {
        display: flex;
        justify-content: center;
      }

      span {
        margin-top: 15px;
      }
    }

    .flexBoxGenBoard {
      padding: 15px;

      overflow: hidden;

      div {
        border-radius: 15px;
        width: 100px;

        margin: 15px;
      }
    }
  }

  .blue {
    background-color: v.$homeThirdElement;
  }

  .green {
    background-color: v.$pagesGreen;
  }

  .orange {
    background-color: v.$pagesOrange;
  }

  .red {
    background-color: v.$pagesRed;
  }
}
