$primary: #1c1c2c;
$secondary: #8945b5;
$color: #fff;
$altColor: #000;
// Navbar
$navbarBackground: #26263c;

//HOME
$homeFirstElement: #78ad8d;
$homeFirstElementSecond: #ad3b45;
$homeSecondElement: #c9b757;
